<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
    <title>おみくじ結果</title>
</head>
<style>
    body {
        font-family: 'M PLUS 1p', sans-serif;
    }
</style>
<body class="overflow-hidden w-full h-screen">
<div class="grid place-content-center h-full bg-white">
 
    <!-- おみくじの結果を表示する箇所でDjango template languageを記述 -->
    <h2 class="text-6xl tracking-wider text-center text-slate-500">
        今日の運勢は、{{ fortune }}です!!
    </h2>
</div>
</body>
</html>
